@import "../utilities";
/*Onglets admin*/
#block-atomeco-primary-local-tasks ul:not(.contextual-links) {
    flex-direction: row;
    flex-wrap: wrap;
    display:flex;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;

    li a {
        display: flex        ;
            flex-grow: 1;
            align-items: center;
            height: 1rem;
            padding-block: 0;
            padding: 1rem;
            transition: background-color .5s;
            -webkit-text-decoration: none;
            text-decoration: none;
            color: var(--tabs-text-color);
            border: 1px solid $grismenu;
            background-color: $grisclair;
            // font-size: var(--tabs-font-size);
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
            &.is-active {
                font-weight: bold;
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 4px;
                    background-color: $bleucyan;
                    position: absolute;
    bottom: 0;
                }
            }
    }
}


#section_2,#contenusasso{
    background:$grisclair;
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
    }

    .titre_page {
        background: $bleufonce top center;
            border-bottom: 1px solid #eee;
        padding: 0px 0;
        #titre{
        padding:17px;
        }
        h1{
    color:$blanc;
    }
    
    }


    
h1, h2, h3, h4, h5, h6 {
    color: $noirpolice;
    font-family: "NovecentowideLightBold", arial, serif;
    font-weight: normal;
	 /*font-family: Novecentosanswide-Normal;*/
    font-weight: 500;
}
h1{
font-size:1.7em;
}
h2{
    font-size: 1em;
    }
h3 {
color: $bleufonce;
line-height: 1.5;
}
h2.block-title, h3.block-title{
    font-size: 17px;
    line-height: 22x;
    margin: 0 0 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    letter-spacing: 2px;
	
	&:after {
    display: block;
    content: "";
    width: 80px;
    height: 3px;
    background-color: $grisbar;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}
	
	}



    
    .field-thematiques,
    .field-date,
    .field-contributeurs,
    .field-categorie-actualite {
        font-size: 12px;
        display: inline-block;
        margin-right: 8px;
        padding: 0 10px 0 5px;
        border-right: 1px solid #ddd;
        line-height: 12px;
        color: $grispolice;

        a {
            color: $grispolice;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        &::before {
            display: inline-block;
            line-height: 45px;
            margin-left: -5px;
            margin-right: 5px;
            padding-top: 5px;
            border-right: 1px #fff solid;
            font: normal normal normal 12px / 1 FontAwesomeRegular;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: "\f017";
        }
    }

    .field-thematiques{
        &::before {
            content: "\f292";
            font: normal normal normal 12px / 1 FontAwesome;
        }
        border-right: 0px solid #ddd;
    }
    .field-contributeurs {
        &::before {
            content: "\f044";
        }
    }
    .field-categorie-actualite {
        &::before {
            content: "\f02b";
        }
    }
    .field-contributeurs {
        & > div {
            display: inline-block;
            &:after {
                content: ",\00a0";
            }
            &:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }


    .views-field-field-thematiques,
    .views-field-field-membres-contributeurs {
        // display: inline-block;
        // margin-right: 8px;
        // padding: 0 10px 0 5px;
        // border-right: 1px solid #ddd;

        // color: $grispolice;

        // a {
        //     color: $grispolice;
        //     text-decoration: none;
     
        // }
        
        &::before {
            display: inline-block;
            line-height: 45px;
            margin-left: 0;
            margin-right: 5px;
            padding-top: 5px;
            border-right: 1px $blanc solid;
            font: normal normal normal 12px / 1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: "\f292";
          }
          a {
            font-family: "Droid Serif", georgia, serif;
            font-style: italic;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            margin: 0 26px 0;
            clear: both;
            color: $grisfonce;
          }
    
    }

    .views-field-field-membres-contributeurs {

            &::before {
                content: "\f044";
            }
        
    }

