@import "../utilities";

.intro {
  margin: 20px auto 30px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #888888;
  text-align: center;

  h2 {
    font-style: normal;
    margin: 28px 0 0;
    padding-bottom: 8px;
    font-size: 31px;
    line-height: 64px;
    color: $bleufonce;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-text-stroke: 0px;
    font-weight: 600;
    position: relative;
  }
  .slideatomeco {
    display: flex;

    .champ-image {
      // float:left;
      max-width: 490px;
    }

    .col-droite {
      background: rgb(255, 255, 255); /* Fall-back for browsers that don't
          support rgba */
      background: rgba(255, 255, 255, 0.9);
      background: $grisclair;
      min-height: 189px;
      padding: 5px 0 0;
      text-align: left;
      //bottom: 0;
      //position: absolute;
      max-width: 495px;

      .champ-titre {
        h3 {
          font-size: 15px;
        }

        margin: 0;
        //  float: left;
        margin-left: 15px;
        //width: 605px;
        line-height: 16px;
        margin-bottom: 0em;
        a {
          color: $bleufonce;
          text-decoration: none;
        }
      }

      .champ-texte {
        // float: left;
        margin: 0px;
        color: $noirpolice;
        //width: 600px;

        margin: 0;
        margin: 0 5px 15px;
        margin-left: 15px;
      }

      .champ-chemin {
        text-align: right;
        // float: right;
        //  clear: both;
        //  margin-top: -20px; /**/

        a {
          border: 2px solid $grisclair;
          padding: 5px 12px;
          color: #888888;
          line-height: 32px;
          font-size: 13px;
          font-family: 'Open Sans', arial, sans-serif;
          text-decoration: none;
          @include transition(background, 0.2s, ease-out)
          &:hover {
            color: $blanc;
            background: #214593;

          }
        }
      }

      .champ-thematiques {
       
          // margin: 10px 26px 0;
          // font-family: "Droid Serif", georgia, serif;
          // font-style: italic;
          font-size: 12px;
          line-height: 12px;
          text-align: center;
          // margin: 0 26px 0;
          clear: both;
          color: #888888;
          margin: 0;
          padding: 0 20px 10px;
          & > div {
            display: inline-block;
            a {
              color: $grispolice;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          
        }
  
      }

      // .views-field-title h3{
      //    margin-top: 0em;
      // }

      // .views-field-title h3{
      //    margin-top: 0em;
      // }
    }
  }

  .slick-dots {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    /* align-items: center; */
    margin: auto;
    li {
      &::marker {
        content: "";
      }

      &:after {
        padding-top: 5px;
        font: normal normal normal 12px/1 FontAwesomeRegular;
        text-rendering: auto;
        color: #888888;

        -webkit-font-smoothing: antialiased;
        content: "\f111";
      }
      button {
        display: none;
      }

      &.slick-active {
        &:after {
          font: normal normal normal 12px/1 FontAwesome;
          content: "\f111";
        }
      }
    }
  }
}
