@import "../utilities";
@import "../base/base";

// Utilisation des classes définies dans base.scss
.messages--status {
    @extend .messages;
    background-color: #ecffef;
    border: 1px solid #b1d186;
}

.messages--warning {
    @extend .messages;
    background-color: #e7d51314;
    border: 1px solid #e7d513;
}

.messages--error {
    @extend .messages;
    background-color: #bf38071a;
    border: 1px solid #bf3807;
}