h1 {
    /* Set the font-size and line-height while keeping a proper vertical rhythm. */
    font-size: 2em;
    line-height: 1.5em;
    /* Set 1 unit of vertical rhythm on the top and bottom margins. */
    margin-top: 0.75em;

  }