@import "utilities";

@font-face {
  font-family: "NovecentowideLightBold";
  src: url("../fonts/Novecentowide-DemiBold-webfont.eot");
  src:
    url("../fonts/Novecentowide-DemiBold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Novecentowide-DemiBold-webfont.woff") format("woff"),
    url("../fonts/Novecentowide-DemiBold-webfont.ttf") format("truetype"),
    url("../fonts/Novecentowide-DemiBold-webfont.svg#NovecentowideLightBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/webfonts/fa-solid-900.eot");
  src:
    url("../fonts/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
    url("../fonts/webfonts/fa-solid-900.woff") format("woff"),
    url("../fonts/webfonts/fa-solid-900.ttf") format("truetype"),
    url("../fonts/webfonts/fa-solid-900svg#FontAwesome5Free-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesomeRegular";
  src: url("../fonts/webfonts/fa-regular-400.eot");
  src:
    url("../fonts/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
    url("../fonts/webfonts/fa-regular-400.woff") format("woff"),
    url("../fonts/webfonts/fa-regular-400.ttf") format("truetype"),
    url("../fonts/webfonts/fa-regular-400.svg#FontAwesome5Free-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.layout-container {
  font:
    14px/25px "Open Sans",
    arial,
    sans-serif;
  color: $noirpolice;
}
main {
  /* Move all the children of #main down to make room. */
  padding-top: 1.5em;
}

/*Bloc Notes Accueil*/

.section_2 {
  background: $grisclair;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
#block-atomeco-views-block-contenus-block-5,
#block-atomeco-views-block-contenus-block-4,
#block-atomeco-views-block-contenus-block-2,
#block-atomeco-views-block-contenus-block-3 {
  h2 {
    font-size: 17px;
    line-height: 22x;
    margin: 0 0 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    letter-spacing: 2px;
    &:after {
      display: block;
      content: "";
      width: 80px;
      height: 3px;
      background-color: #dbdcdd;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -40px;
    }
  }
  .slick .slick-slide,
  .slick > .slide {
    width: 332px;
    margin-bottom: 30px;
    margin-top: 30px;
    // display: inline;
    display: inline-block;
    margin-left: 17px;
    margin-right: 17px;
    @include border-radius(4px);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background: #fff;
    text-align: center;
    h3 {
      margin-top: 0;
      margin-bottom: 1em;
      font-size: 13px;
      // line-height: 22px;
      text-align: center;
      text-transform: UPPERCASE;
      letter-spacing: 0px;
      // margin-top: 1em;
      /*font-size: 16px;*/
      // margin-bottom: 1em;
      padding: 0;
      a {
        text-align: center;
        text-decoration: none;
        color: #2f2f2f;
      }
    }

    .views-field-title {
      margin: 1em 10px;
    }
    .views-field-field-thematiques,
    .views-field-field-membres-contributeurs {
      // margin: 10px 26px 0;
      // // font-family: "Droid Serif", georgia, serif;
      // // font-style: italic;
      // font-size: 12px;
      // line-height: 12px;
      // text-align: center;
      // // margin: 0 26px 0;
      // clear: both;
      // color: #888888;
      // // padding: 0 20px 24px;
      // padding: 0 13px 0px;
      // & > div {
      //   display: inline-block;
      //   a {
      //     color: $grispolice;
      //     text-decoration: none;
      //     &:hover {
      //       text-decoration: underline;
      //     }
      //   }
      // }
    }
    .views-field-field-thematiques {
      // margin: 10px 26px 0;
      padding: 0 20px 24px;
    }
    @include transition(background, 0.5s, ease-out);
    &:hover {
      // background: #f7fafc;
      background: $grisclair;
      /**/
      -webkit-filter: saturate(1.3);
      // transform: scale(1.02);
      filter: saturate(1.3);

      //@include scala(1, 0.2s, ease-out);

      .views-field-title,
      .groupe1 h3 {
        a {
          color: $bleufonce;
          @include transition(color, 0.3s, ease-out);
        }
      }
    }
  }
  .slick {
    .slick__arrow .slick-next,
    .slick__arrow .slick-prev {
      display: block;
      width: 27px;
      height: 27px;
      background-image: url("../images/arrows.png");
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 0px solid #ccc;
      background-color: transparent;
    }

    .slick__arrow .slick-next.slick-disabled,
    .slick__arrow .slick-prev.slick-disabled {
      display: none !important;
    }

    .slick__arrow .slick-prev {
      position: absolute;
      top: -40px;
      right: 22px;
      background-position: 0 0;
    }
    .slick__arrow .slick-prev:hover {
      background-position: -32px 0;
    }
    .slick__arrow .slick-prev:active {
      background-position: -64px 0;
    }

    .slick__arrow .slick-next {
      position: absolute;
      top: -40px;
      right: -11px;
      background-position: 0 -32px;
    }
    .slick__arrow .slick-next:hover {
      background-position: -32px -32px;
    }
    .slick__arrow .slick-next:active {
      background-position: -64px -32px;
    }
  }

  .champ-image-actu img,
  .views-field-field-image img {
    max-width: 100%;
    height: auto;
  }

  /*Bloc actus accueil*/
}

/**/
/*Bloc actus accueil*/
.section_3 {
  #block-atomeco-views-block-contenus-block-4 {
    .slick .slick-slide {
      h3 {
        text-align: left;
      }

      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

/*Page vue NOTEs*/

.pages-notes,
.page-actualites,
.page-taxonomy {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  gap: 3rem;

  header {
    flex-basis: 100%;
  }
  .views-row {
    min-height: 350px;
    width: 45%;
    width: 332px;
    padding-bottom: 20px;

    // margin-top: 30px;
    @include border-radius(4px);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background: #fff;
    // padding-bottom: 20px;

    h3 {
      margin-top: 0;
      margin-bottom: 1em;
      font-size: 13px;
      // line-height: 22px;
      text-align: center;
      text-transform: UPPERCASE;
      letter-spacing: 0px;
      // margin-top: 1em;
      /*font-size: 16px;*/
      // margin-bottom: 1em;
      padding: 0;
      a {
        text-align: center;
        text-decoration: none;
        color: #2f2f2f;
      }
    }

    .views-field-title {
      margin: 1em 15px;
    }
    .views-field-field-date {
    }
    .views-field-field-date,
    .views-field-field-membres-contributeurs,
    .views-field-field-thematiques {
      text-align: left;
      // margin: 10px 0 0;
      // padding: 0 10px 0px;
    }

    @include transition(background, 0.5s, ease-out);
    &:hover {
      // background: #f7fafc;
      background: $grisclair;
      /**/
      -webkit-filter: saturate(1.3);
      // transform: scale(1.02);
      filter: saturate(1.3);

      //@include scala(1, 0.2s, ease-out);

      .views-field-title,
      .groupe1 h3 {
        a {
          color: $bleufonce;
          @include transition(color, 0.3s, ease-out);
        }
      }
    }

    .views-field-field-image img,
    .champ-image-actu img {
      max-width: 100%;
      height: auto;
    }
  }
}

/*EXPOSED BLOCS*/
.page-actualites {
  .views-row {
    .views-field-field-thematiques {
      padding: 0;
    }
  }
}

body.les-notes,
body.actualites {
  main .layout-content {
    // .views-field-field-thematiques,
    .type-actu {
      text-align: left;
      margin: 0;
      padding: 0;
      &::before {
        display: inline-block;
        line-height: 45px;
        margin-left: 0;
        margin-right: 5px;
        padding-top: 5px;
        border-right: 1px $blanc solid;
        font: normal normal normal 12px / 1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f02b";
      }
    }

    flex-basis: 70%;
  }
  aside {
    flex-basis: 30%;
  }
}
#block-atomeco-formulaireexposecontenuspage-1,
#block-atomeco-formulaireexposecontenuspage-1-2,
#block-atomeco-formulaireexposecontenuspage-2 {
  // margin-top: 1.5em;
  // float: right;
  // width: 30%;
  h2 {
    color: $blanc;
    text-transform: uppercase;
    font:
      17px/44px "Open Sans",
      arial,
      sans-serif;
    width: 250px;
    height: 45px;
    background: #2184e1;
    padding-bottom: 0;
    letter-spacing: 0;
    margin-bottom: 0;
    &:after {
      display: none;
    }
    &:before {
      display: inline-block;

      line-height: 45px;

      margin-left: -12px;
      margin-right: 12px;
      padding: 12px;
      border-right: 1px #fff solid;
      font: normal normal normal 21px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      content: "\f002";
    }
  } /**/

  #views-exposed-form-contenus-page-1,
  #views-exposed-form-contenus-page-2 {
    background: $bleufonce;
    padding: 5px;

    .form-item {
      /*margin-left: 38px;
              margin-bottom: 3px;
      margin-top: -8px;*/
      float: none;
      padding: 0;
      width: 218px;
      margin: 0 auto 3px;
      label {
        font:
          16px/32px "Open Sans",
          arial,
          sans-serif;
        color: $blanc;
        text-transform: uppercase;
        display: block;
      }
      &.views-submit-button {
        width: 121px;

        input[type="submit"] {
          margin-left: auto;
        }
      }
    }

    .chosen-container,
    .form-type-textfield {
      width: 218px !important;
      min-height: 27px;
      font-size: 13px;
      input {
        border: 0px solid #aaa;
        color: #999;
      }
    }
    .form-type-textfield {
      input {
        padding: 6px 0;
      }
    }

    .form-actions {
      text-align: center;
      margin: 0 auto 3px;
      input[type="submit"] {
        color: $blanc;
        text-transform: uppercase;
        font:
          17px/40px "Open Sans",
          arial,
          sans-serif;
        background: $bleucyan;
        margin-top: 15px;
        width: 121px;
        height: 43px;
        border: 1px solid #fff;
        // margin-left: 2em;

        &:hover {
          // @include linear-gradient(to bottom, $bleucyan, $bleufonce, $bleucyan);
          background: #0a89ff;

          @include transition(background, 0.2s, ease-out); /**/
        }
      }
    }
  }

  #views-exposed-form-contenus-page-2 {
    .chosen-container,
    .form-type-textfield {
      max-width: 520px !important;
      min-width: 218px !important;
      // width:auto!important;
    }
  }
}

#block-atomeco-formulaireexposecontenuspage-1-2 {
  float: none;
  width: 100%;
  padding-bottom: 2em;

  h2 {
    &:before {
      margin-left: 0;
    }
  }

  #views-exposed-form-contenus-page-1 {
    display:flex;
    .form-item {
      padding: 0 1em .5em 0;

      input[type="submit"] {
        margin-left: 2em;
      }
    }
  }
}

/*Page taxonomy*/
body.page-no-node main .layout-content .page-taxonomy {
  // .views-field-field-thematiques,
  .type-actu {
    text-align: left;

    &::before {
      display: inline-block;
      line-height: 45px;
      margin-left: 0;
      // margin-right: 5px;
      padding-top: 5px;
      border-right: 1px $blanc solid;
      font: normal normal normal 12px / 1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      content: "\f02b";
    }
  }
  nav.pager {
    flex-basis: 100%;
    ul {
      display: flex;
      gap: 1rem;
      list-style-type: none;
      justify-content: center;
      li {
        &.is-active {
          font-weight: bold;
        }
        a {
          color: $bleufonce;
          text-decoration: none;
        }
      }
    }
  }
}
