@import "utilities";

@font-face {
  font-family: "NovecentowideLightBold";
  src: url("../fonts/Novecentowide-DemiBold-webfont.eot");
  src:
    url("../fonts/Novecentowide-DemiBold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Novecentowide-DemiBold-webfont.woff") format("woff"),
    url("../fonts/Novecentowide-DemiBold-webfont.ttf") format("truetype"),
    url("../fonts/Novecentowide-DemiBold-webfont.svg#NovecentowideLightBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/webfonts/fa-solid-900.eot");
  src:
    url("../fonts/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
    url("../fonts/webfonts/fa-solid-900.woff") format("woff"),
    url("../fonts/webfonts/fa-solid-900.ttf") format("truetype"),
    url("../fonts/webfonts/fa-solid-900svg#FontAwesome5Free-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesomeRegular";
  src: url("../fonts/webfonts/fa-regular-400.eot");
  src:
    url("../fonts/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
    url("../fonts/webfonts/fa-regular-400.woff") format("woff"),
    url("../fonts/webfonts/fa-regular-400.ttf") format("truetype"),
    url("../fonts/webfonts/fa-regular-400.svg#FontAwesome5Free-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.layout-container {
  font:
    14px/25px "Open Sans",
    arial,
    sans-serif;
  color: $noirpolice;
}
main {
  /* Move all the children of #main down to make room. */
  padding-top: 1.5em;
}

/*Bloc Notes Accueil*/

.section_2 {
  background: $grisclair;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
#block-atomeco-views-block-contenus-block-5,
#block-atomeco-views-block-contenus-block-4,
#block-atomeco-views-block-contenus-block-2,
#block-atomeco-views-block-contenus-block-3 {
  h2 {
    font-size: 17px;
    line-height: 22x;
    margin: 0 0 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    letter-spacing: 2px;
    &:after {
      display: block;
      content: "";
      width: 80px;
      height: 3px;
      background-color: #dbdcdd;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -40px;
    }
  }
  .slick .slick-slide, .slick > .slide  {
    width: 332px;
    margin-bottom: 30px;
    margin-top: 30px;
    // display: inline;
    display: inline-block;
    margin-left: 17px;
    margin-right: 17px;
    @include border-radius(4px);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background: #fff;
    text-align: center;
    h3 {
      margin-top: 0;
      margin-bottom: 1em;
      font-size: 13px;
      // line-height: 22px;
      text-align: center;
      text-transform: UPPERCASE;
      letter-spacing: 0px;
      // margin-top: 1em;
      /*font-size: 16px;*/
      // margin-bottom: 1em;
      padding: 0;
      a {
        text-align: center;
        text-decoration: none;
        color: #2f2f2f;
      }
    }

    .views-field-title {
      margin: 1em 10px;
    }
    .views-field-field-thematiques,
    .views-field-field-membres-contributeurs {
      margin: 10px 26px 0;
      font-family: "Droid Serif", georgia, serif;
      font-style: italic;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      // margin: 0 26px 0;
      clear: both;
      color: #888888;
      // padding: 0 20px 24px;
      padding: 0 13px 0px;
      a {
        color: $grispolice;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
      }
      }
    }
    .views-field-field-thematiques {
      margin: 10px 26px 0;
      padding: 0 20px 24px;
    }
  }
  .slick {
    .slick__arrow .slick-next,
    .slick__arrow .slick-prev {
      display: block;
      width: 27px;
      height: 27px;
      background-image: url("../images/arrows.png");
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 0px solid #ccc;
      background-color: transparent;
    }

    .slick__arrow .slick-next.slick-disabled,
    .slick__arrow .slick-prev.slick-disabled {
      display: none !important;
    }

    .slick__arrow .slick-prev {
      position: absolute;
      top: -40px;
      right: 22px;
      background-position: 0 0;
    }
    .slick__arrow .slick-prev:hover {
      background-position: -32px 0;
    }
    .slick__arrow .slick-prev:active {
      background-position: -64px 0;
    }

    .slick__arrow .slick-next {
      position: absolute;
      top: -40px;
      right: -11px;
      background-position: 0 -32px;
    }
    .slick__arrow .slick-next:hover {
      background-position: -32px -32px;
    }
    .slick__arrow .slick-next:active {
      background-position: -64px -32px;
    }
  }

  .champ-image-actu img,
  .views-field-field-image img {
    max-width: 100%;
    height: auto;
  }

  /*Bloc actus accueil*/
  .groupe1 {
    display: flex;
    column-gap: 1rem;
    padding-top: 10px;
    .date-actu {
      // float: left;
      text-align: center;
      width: 38px;

      .jour {
        background: #f9f9f9;
        padding: 6px 0px;
        font-size: 15px;
        color: #727272;
        @include border-radius(2px 2px 0 0);
        border-bottom: 1px solid white;
      }
      .mois {
        background-color: $bleucyan;
        @include linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.04));
   
        background-repeat: repeat-x;
        padding: 0px 8px 0px 8px;
        color: white;
        font-size: 12px;
        @include border-radius(0 0 2px 2px);
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      }
    }
    .contenu-actu {
      color: #2f2f2f;
      font-size: 13px;
      text-align: justify;
      word-break: break-word;
      word-spacing: -2px;
      line-height: 21px;
    }
  }
}

/**/
/*Bloc actus accueil*/
.section_3 {
  #block-atomeco-views-block-contenus-block-4 {
    .slick .slick-slide {
      h3 {
        text-align: left;
      }

      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
